*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body{
  background-color: antiquewhite;
}
main{
  width: 100%;
  max-width: 1024px;
  display: flex;
  padding: 20px;
}
.sidebar{
  text-align: center;
  background-color: coral;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.sidebar h1{
  margin-bottom: 50px;
}
.sidebar ul li{
  margin-bottom: 20px;
  color: #fff;
}
.main-container{
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}
.main-container ul{
  height: 30vh;
  overflow-Y: scroll;
}
.main-container ul li:nth-child(1){
  margin-top: 20px;
}
.main-container ul li{
  color:chocolate;
  margin-bottom: 10px;
  width: 500px;
}