@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

html{
  font-size: 16px;
}
body{
  padding: 0 10px;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(45deg, #833AB4, #C13584, #F56040, #F77737, #FFDC80) no-repeat;
  font-family: 'Noto Sans KR', sans-serif;
}


/* 헤더 */
.container{
  width: 80%;
  padding: 0 10px;
  max-width: 1024px;
  margin: 40px auto;
  box-shadow: 5px 5px 5px rgb(163, 163, 163);
  background-color: #fff;

}
header label{
  display: flex;
  justify-content: end;
}
.header__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu img{
  width: 40px;
  height: 40px;
  border-radius: 22px;
  border: 2px solid #c13584;
}
.user__info{
  display: flex;
  align-items: center;
}
#para{
  margin-left: 10px;
  font-weight: 700;
}
.user__info p span{
  color: #c4c2c2;
  font-weight: 500 !important;
  font-size: 1rem;
}
#burger{
  padding-right: 10px;
  font-size: 40px;
  color: #c4c2c2;
}
header label{
  font-size: .8rem;
}


/* 메인 */
.main-top img{
  width: 100%;
  margin: 10px 0;
}
.main-bottom {
  display: flex;
  padding-left: 10px;
  gap: 10px;
}
.main-bottom img{
  width: 25px;
}


/* 푸터 */
footer{
  padding:0 12px 10px;
}
#likes{
  font-weight: 700;
}
#likes::before{
  content: '❤ ';
}
.feed-content{
  font-size: .9rem;
}
.feed-content span{
  color: rgb(8, 105, 169);
}