*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(250, 232, 215);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.head{
  width: 100px;
  height: 100px;
  background-color:rgb(255, 255, 255);
  border-radius: 50px;
  position: relative;
  box-shadow: 5px 5px 0 rgba(0,0,0, .1);
}
.cap{
  width: 80px;
  height: 70px;
  border-top-right-radius: 70px;
  border-top-left-radius: 70px;
  background-color:darkviolet;
  position: absolute;
  top: -50px;
  left: 11px;
  box-shadow: 10px 0 10px rgba(0,0,0, .1);
}
.cap-2{
  width: 150px;
  height: 20px;
  background-color:darkviolet;
  position: absolute;
  top: 0px;
  left:-25px;
  border-radius: 10px;
  box-shadow: 0 3px 0 rgba(0,0,0, .1);
}
.eye-1{
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 5px;
  position: absolute;
  top: 45px;
  left: 30px;
}
.eye-2{
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 5px;
  position: absolute;
  top: 45px;
  left: 60px;
}
.mouse{
  width: 30px;
  height: 10px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 70px;
  left: 35px;
  animation: mouseopen 1s infinite alternate;
}
@keyframes mouseopen{
  from {
    height: 0;
  }
  to {
    height: 10px;
  }
}
.body{
  width: 150px;
  height: 150px;
  background-color:rgb(255, 255, 255);
  border-radius: 75px;
  box-shadow: 5px 5px 0 rgba(0,0,0, .1);
  position: relative;
}
.arm-1{
  width: 70px;
  height: 5px;
  border-radius: 10px;
  background-color: brown;
  position: absolute;
  top: 10px;
  left: -50px;
  transform: rotate(40deg);
  animation: movingarms2 2s alternate infinite;
}
.arm-1::before{
  content: "";
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background-color: brown;
  position: absolute;
  top: 13px;
  left: -5px;
  transform: rotate(130deg);
}
.arm-1::after{
  content: "";
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background-color: brown;
  position: absolute;
  top: -10px;
  left: 5px;
  transform: rotate(45deg);
}
.arm-2{
  width: 80px;
  height: 5px;
  border-radius: 10px;
  background-color: brown;
  position: absolute;
  top: -3px;
  right: -50px;
  transform: rotate(140deg);
  animation: movingarms 2s alternate infinite;
}
.arm-2::before{
  content: "";
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background-color: brown;
  position: absolute;
  top: 10px;
  right: 40px;
  transform: rotate(130deg);
}
.arm-2::after{
  content: "";
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background-color: brown;
  position: absolute;
  top: -10px;
  right: 25px;
  transform: rotate(45deg);
}
@keyframes movingarms{
  from{
    transform: rotate(140deg);
  }
  to{
    transform: rotate(130deg);
  }
}
@keyframes movingarms2{
  from{
    transform: rotate(40deg);
  }
  to{
    transform: rotate(30deg);
  }
}
.button{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: blueviolet;
  position: absolute;
  top: 40px;
  left: 70px;
  box-shadow: 3px 0 0 rgba(0,0,0, .1);
}
.button::before{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: blueviolet;
  position: absolute;
  top: 30px;
  left: 0px;
  box-shadow: 3px 0 0 rgba(0,0,0, .1);
}
.button::after{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: blueviolet;
  position: absolute;
  top: 60px;
  left: 0px;
  box-shadow: 3px 0 0 rgba(0,0,0, .1);
}